---
const { frontmatter } = Astro.props;

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import '../../styles/global.css';
import '../../styles/footer.css';
---
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{frontmatter.title}</title>
        <style>
            html {
                background-image: url("../../images/Blog_Tiles.png");
            }
        </style>
    </head>
    <body>
        <Navigation/>
        <slot/>
        <Footer/>
    </body>
</html>