.about
{
    background-color: rgba(55, 69, 109, .5);

    width: 28vw;
    min-width: 10em;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;

    padding-top: .2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

    font-size: 2rem;

    text-align: center;

    border-radius: .5rem;
}
.about-text
{
    margin-bottom: 1rem;
}
.email
{
    background-color: rgba(55, 69, 109, .3);

    width: 40vw;
    min-width: 15em;

    margin-inline: auto;

    justify-content: center;

    border-radius: .5rem;

    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.4rem;

    margin-bottom: 2rem;
}
.contact
{
    background-color: rgba(55, 69, 109, .3);

    width: 34vw;
    min-width: 16em;

    margin-inline: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;

    border-radius: .5rem;

    padding-inline: 2rem;
    font-size: 1.4rem;
}