html {
    background-color: #17182A;
    background-image: url("../images/Website_Tiles.png");
    background-size: 120px 120px;

    animation-name: bgscroll, bgfade;
    animation-duration: 40s, 1.5s;
    animation-delay: 0s, 1s;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: both, both;
    animation-timing-function: linear, ease-in-out;

    margin: 0;
}

@keyframes bgscroll {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 360px 240px;
    }
}

@keyframes bgfade {
    0%{
        background-color: #17182A;
    }
    100%{
        background-color: #333340;
    }
}

body{
    margin: 0;
}

h1, a, p{
    color: #f0ebd8;
    
}