---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/blog.css';
import '../styles/footer.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
        <style>
            html {
              background-image: url("../images/Blog_Tiles.png");
            }
          </style>
	</head>
	<body>
    <Navigation/>
    <div class="about">
      <p class="about-text">Welcome to my blog!</p>
    </div>
    <p class="separator">·•—–––––––•·</p>
    <Footer/>
	</body>
</html>
