---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/contact.css';
import '../styles/footer.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact</title>
        <style>
            html {
				background-image: url("../images/Contact_Tiles.png");
			}
          </style>
	</head>
	<body>
        <Navigation />
		<div class="about">
			<p class="about-text">Want to get in touch?</p>
            <p class="about-text" style="font-size: 1.6rem;">Check out my socials!</p>
		</div>
        <p class="separator">·•—–––––––•·</p>
        <div class="email">
            <p>Send emails to <strong>richard.zhangonca@gmail.com</strong> for any inquiries.</p>
            <p>Or if you just wanna chat...</p>
        </div>
        <div class="contact">
                <p>I'm <a href="https://www.instagram.com/groobaer/#" target="_blank">@groobaer</a> on Instagram!</p>
                <p>I'm <a href="https://steamcommunity.com/id/Oritimis" target="_blank">groober</a> on Steam!</p>
                <p>I'm groobr on Discord!</p>
                <p>I'm <a href="https://groober.itch.io/" target="_blank">grooba</a> on Itch!</p>
                <p>I'm <a href="https://github.com/groobob" target="_blank">groobob</a> on Github!</p>
        </div>
        <Footer />
	</body>
</html>
