---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/home.css';
import '../styles/footer.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Richard Zhang</title>
		<style>
			html {
				background-image: url("../images/Home_Tiles.png");
			}
		</style>
	</head>
	<body>
		<Navigation/>
		<div class="hero">
			<h1>Richard Zhang</h1>
		</div>
		<div class="separator" style="font-size: 1rem;">
			<h1>·•—–٠✤٠—–•·</h1>
		</div>
		<div class="about">
			<p class="about-text">
				Looks like you've found your way to my website! 
				In case you didn't see the giant text above, I'm Richard, but you may also know me as groober online.
				I'm currently in my second year at UofT studying computer science.
			</p>
			<p class="about-text">
				I like game dev, digital art, and 3d modelling, although I'm certainly much less experienced with the latter few.
				Besides that I develop some random cool things sometimes (like this website!).
			</p>
			<p class="about-text">
				Also, send me a message on Discord if you wanna play Tetris 👀.
			</p>
		</div>
		<div class="secrets">
			<p class="secrets-text">↓↓ secrets below... ↓↓</p>
			<div class="time">
				<p class="secrets-subtitle-text">My Current Time</p>
				<p class="separator">·•—–––––––•·</p>
				<p style="font-size: 1.8rem;">It is currently</p>
				<p id="current-time" style="font-size: 1.8rem; text-decoration: underline;">Loading...</p>
			</div>
			<div class="tetris">
				<p class="secrets-subtitle-text">Live Tetris Standing</p>
				<p class="separator">·•—–––––––•·</p>
				<p id="tetris-rating" style="font-size: 1.6rem;">Loading...</p>
				<p id="tetris-stats" style="font-size: 1.4rem;">Likely waking up proxy server, please sit tight!</p>
				<p>Check me out right <a href="https://ch.tetr.io/u/groober" target="_blank">here</a>!</p>
			</div>
			<div class="gif">
				<p class="secrets-subtitle-text">Favourite Gif</p>
				<p class="separator">·•—–––––––•·</p>
				<div class="tenor-gif-embed" data-postid="14465458220549268962" data-share-method="host" data-aspect-ratio="1.8125" data-width="50%"><a href="https://tenor.com/view/buh-gif-14465458220549268962">Buh GIF</a>from <a href="https://tenor.com/search/buh-gifs">Buh GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
			</div>
			<Footer/>
		</div>
		<script>
			import {StartTimeUpdate} from "../scripts/timeUpdater";
			import {StartStatUpdate} from "../scripts/tetrioStatUpdater";

			StartTimeUpdate();
			StartStatUpdate();
		</script>
	</body>
</html>
