---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Richard Zhang</title>
        <style>
            html{
                background-image: url("../images/Home_Tiles.png");
                margin: 0;
            }
            .hero{
                background-color: #36456D;
                background-color: rgba(55, 69, 109, .25);
                margin-left: 30vw;
                margin-right: 30vw;
                margin-top: 1rem;
                padding: .1rem;
                text-align: center;
                font-size: 1.5rem;
                border-radius: 1rem;
            }
            .separator
            {
                margin-top: -1.5rem;
                text-align: center;
                padding:
            }
        </style>
	</head>
	<body>
        <Navigation/>
		<div class="hero">
            <h1>Richard Zhang</h1>
        </div>
        <div class="separator">
            <h1>·•—–٠✤٠—–•·</h1>
        </div>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
        <p>buh</p>
	</body>
</html>
