---
const {name, date, description, image, link, index} = Astro.props;
const timeDelayFactor = .1;
const timeDelay = `${index*timeDelayFactor}s`;
---
<style define:vars={{ timeDelay }}>
    .blog-card
    {
        animation-delay: var(--timeDelay);        
    }
</style>
<div class="blog-card">
    <div class="blog-info">
        <p style="font-size: 2rem;"><strong>{name} • {date}</strong></p>
        <p>{description}</p>
    </div>
    <div class="blog-link">
        <a href={link}>CLICK TO VIEW</a>
    </div>
</div>