---
const {name, date, description, image, link} = Astro.props;
---
<style></style>
<div class="blog-card">
    <div class="blog-info">
        <p style="font-size: 2rem;"><strong>{name} • {date}</strong></p>
        <p>{description}</p>
    </div>
    <div class="blog-link">
        <a href={link}>CLICK TO VIEW</a>
    </div>
</div>