---
import '../styles/nav-bar.css';
---
<div class="nav-bar">
    <p>
    <a class="nav-link", href="/">Home</a>✦
    <a class="nav-link", href="/about/">about</a>✦
    <a class="nav-link", href="/projects/">proj</a>
    </p>
</div>